.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: rgb(3, 148, 3) !important;
}

.css-oewvya-MuiTabs-indicator {
  background-color: rgb(3, 148, 3) !important;
}

/* styles for swiper */
/* .swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
} */